a
{
    color: #22357E;
    text-decoration: none;
}

/* ********************************************************************************************
HEADER
********************************************************************************************** */

.header, .footer {
    background-color: #F8DCB7; 
}


.logo_menu {
    width : 100px; 
    margin-top : 10%;
    margin-bottom: 10%; 
}


.text_menu{
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
}



/* ********************************************************************************************
FOOTER
********************************************************************************************** */

.text_footer{
    font-family: 'Pacifico', cursive;
    font-size: 1.2rem;
}


/* ********************************************************************************************
BODY ACCUEIL
********************************************************************************************** */

.page{
    min-height: 700px; 
}

.menu{
    font-family: 'Pacifico', cursive;
    color: #22357E;
    font-size: 1.5rem;  
}


.prix{
    color: #707070; 
    font-size: 0.8rem;
    font-style: italic;
}


.titre_menu{
    font-family: 'Pacifico', cursive;
    color: #F8DCB7;
    font-size: 1.3rem;
}


.contenu_menu{
    color: #707070; 
    font-size: 0.7rem;
}



/* ********************************************************************************************
BODY INFO_PERSO
********************************************************************************************** */

.solde{
    color: #22357E;
}


/* ********************************************************************************************
BODY INFO_PERSO
********************************************************************************************** */


.info_perso{
    font: Segoe UI;
    font-weight: bold; 
    font-size: 1.2rem;
    color: #22357E;
}


.texte_fonction{
    font-size: 0.7rem; 
}



/************************************************************
Menu du jour
*************************************************************/
.titre_semaine
{
    color: #22357E;
    font-family: 'Pacifico', cursive;
}




